header {
  @include row();
  @include middle();
  @include center();
  @include rem(padding-top, ($gutter * 2));
  @include rem(min-height, 50px);
  width: 100%;
  margin: 0 auto;
  position: relative;

  .brand {
    a {
      @include rem(width, 50px);
      @include rem(height, 50px);
      display: flex;

      img {
        background-color: $white;
        object-fit: cover;
      }
    }
  }

  nav,
  > div {
    @include col(4);
  }
}