$grid-columns: 12;
  
$xs-max: 43rem;
$sm-max: 62rem;
$md-max: 82rem;
$lg-max: 120rem;
  
$gutter: 1rem;
  
$content-well-max-width: 160rem;

@import 'node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main.scss';